h1, h2, h3, h4, h5 {
  font-family: var(--font-family-heading);
  color: var(--text-dark);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.display-custom {
  font-size: clamp(3rem, 8vw, 5rem);
  line-height: 0.9;
  font-weight: 600;
}

.font-display {
  font-family: var(--font-family-heading);
  font-weight: 600;
  line-height: 1.2;
}